.bpw-layout{
  border: 2px;
  border-color: #01538E;
}
.bpw-header-title{
  color: white;
  font-size: medium;
  font-family: 'Oswald', sans-serif;
}
.bpw-header-container{
  background-color: #01538E;
}
.bpw-send-button{
  background-color: #699BF7;
  color: white;
  padding: 8px 6px;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
  background-color: #699BF7;
  border-radius: 6px;
  color:white
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content{
  border-radius: 6px;
  color:black
}

.bpw-button{
  border-color: #01538E;
}